body {
  font-family: "Work Sans", sans-serif;
}
.header-section {
  background-image: url("/images/banner/banner1.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 200px 200px 100px;
}
.header-container {
  text-align: right;
}
.header-title {
  font-size: 65px;
  font-weight: bold;
  color: #151414;
}
.header-description {
  color: #444343;
  line-height: 26px;
}
.header-btn {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #f15b22;
  border: none;
  padding: 20px 30px;
  border-radius: 5px;
  margin-top: 30px;
}
