body {
  font-family: "Work Sans", sans-serif;
}
main {
  max-width: 1140px;
  margin: auto;
}
.header-section {
  background-image: url("/images/banner/banner1.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 200px 200px 100px;
}
.header-container {
  text-align: right;
}
.header-title {
  font-size: 65px;
  font-weight: bold;
  color: #151414;
}
.header-description {
  color: #444343;
  line-height: 26px;
}
.header-btn {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #f15b22;
  border: none;
  padding: 20px 30px;
  border-radius: 5px;
  margin-top: 30px;
}
/*  my failure section style */
.failure-hero {
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.failure-hero-title {
  font-size: 40px;
  font-weight: bold;
  color: #151414;
}
.failure-hero-description {
  line-height: 26px;
  color: #444343;
}
.failure-hero-content ul {
  list-style: none;
  padding: 0;
  line-height: 32px;
}

.failure-hero-content ul li a {
  text-decoration: none;
  color: #444343;
}
.failure-hero-content ul li i {
  color: #16d887;
  padding-right: 10px;
  font-size: 20px;
}
/* my-plan-section-style */
.my-plan-section-title {
  font-size: 40px;
  font-weight: bold;
  color: #151414;
  text-align: center;
}
.my-plan-items {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.my-plan-item {
  text-align: center;
}
.my-plan-item img {
  height: 92px;
  width: 92px;
}
.my-plan-title {
  font-size: 30px;
  margin: 0px;
  padding: 5px;
}
.my-plan-content {
  color: #737272;
  font-size: 25px;
  font-weight: 500px;
  margin: 0px;
}
/* contact us section  */
.contact-us {
  background-image: url("/images/watch.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
}
.contact-us-title {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
}
.call-now-btn {
  color: #f15b22;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 30px;
  border-radius: 5px;
  border: 0px;
  margin-top: 30px;
}
/* footer style css */
footer {
  display: flex;
  justify-content: space-between;
  background-color: #151414;
  color: white;
  padding: 150px 370px;
  margin-top: 150px;
}
.footer-content-title {
  font-size: 45px;
  font-weight: bold;
}
.footer-content-description {
  line-height: 25px;
}
.footer-info ul {
  line-height: 30px;
  list-style: none;
  padding: 0px;
}
.footer-info ul li a {
  color: #fff;
  text-decoration: none;
}
.footer-content-social ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.footer-content-social ul li {
  margin-right: 10px;
}
.footer-content-social ul li i {
  background-color: #fff;
  color: red;
  padding: 10px;
  border-radius: 50%;
  font-size: 24px;
}
.footer-sub-title {
  font-size: 25px;
  font-weight: 600;
}
.input-email {
  color: #f3f3f3;
  font-size: 18px;
  width: 100%;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid white;
  margin-bottom: 20px;
}
